
body {
  background-color: rgb(80, 81, 79);
}

#board {
  width: 440px;
  height: 440px;
  border: 1px solid white;
  background-color: black;
  position: relative;
}

#insTextBox {
  background-color: white;
  width: 340px;
  height: 75px;
  border: 1px solid black;
  position: relative;
  margin-left: 50px;
  margin-top: 10px;
}
#walker1 {
  background-color: rgb(137, 189, 158);
  width: 50px;
  height: 50px;
  position: absolute;
  border-radius: 50px;
  left: 0px;
  top: 0px;
}
#walker2 {
  background-color: rgb(254, 205, 170);
  width: 50px;
  height: 50px;
  position: absolute;
  border-radius: 50px;
  left: 390px;
  top: 390px;
}
#tagBox { /* box for 2 player tag*/
  background-color: rgb(254, 205, 170);
  width: 300px;
  height: 100px;
  position: relative;
  left: 465px;
  top: -510px;
  border-radius: 50px;
}
#simonBox { /* box for 1 player Simon Says */
  background-color: rgb(254, 205, 170);
  width: 300px;
  height: 100px;
  position: relative;
  left: 465px;
  top: -495px;
  border-radius: 50px;
}
#twoSimonBox { /* box for 2 player Simon Says */
  background-color: rgb(254, 205, 170);
  width: 300px;
  height: 100px;
  position: relative;
  left: 465px;
  top: -480px;
  border-radius: 50px;
}
.gameTitle {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}