
body {
  background-color: darkgreen;
}

#startScreen {
  width: 680px;
  height: 480px;
  border: 1px solid white;
  background-color: black;
  position: relative;
}

#board {
  width: 680px;
  height: 480px;
  border: 1px solid white;
  background-color: black;
  position: relative;
}

#player1Paddle {
  background-color: teal;
  width: 20px;
  height: 80px;
  position: absolute;
  left: 30px;
  top: 100px;
}
#player2Paddle {
  background-color: teal;
  width: 20px;
  height: 80px;
  position: absolute;
  left: 630px;
  top: 100px;
}
#gameBall {
  background-color: teal;
  width: 20px;
  height: 20px;
  position: absolute;
  left: 330px;
  top: 230px;
}
#player1Score {
  background-color: rgba(255, 192, 203, 0);
  width: 50px;
  height: 50px;
  position: absolute;
  top: 30px;
  left: 240px;
  text-align: center;
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color: white;
  font-size:1.25cm;
}
#player2Score {
  background-color: rgba(255, 192, 203, 0);
  width: 50px;
  height: 50px;
  position: absolute;
  top: 30px;
  left: 390px;
  text-align: center;
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color: white;
  font-size:1.25cm;
}